@charset "utf-8";
/* CSS Document */
.frontCover {
	text-align:center;
	height:100%;
	border:0;
}/*封皮*/
a {
	text-decoration:none;
}
h1.Sequence, h1.chapterCaption {
	font-family:'';
	font-size: 1.05em;
	line-height: 1.5em;
	text-align: left;
	text-indent:0;
	color:#ff0000;
	margin:5pt 0;
	letter-spacing:auto;
}   /*一级标题*/
h2.sectionHeading {
	font-family:'';
	font-size: 1.0em;
	line-height: 1.5em;
	text-align: center;
	text-indent:0;
	color:#00ff00;
	margin:5pt 0;
	letter-spacing:auto;
} /*二级标题*/
h3.listHeadline {
	font-family:'';
	font-size: 0.95em;
	line-height: 1.5em;
	text-align: left;
	text-indent:0;
	color:#0000ff;
	margin:5pt 0;
	letter-spacing:auto;
} /*三级标题*/
h4.lastTitle {
	font-family:'';
	font-size: 0.9em;
	line-height: 1.3em;
	text-align: left;
	color:#000000;
	text-indent:0;
	margin:5pt 0;
	letter-spacing:auto;
} /*四级标题*/
h5.fiveTitle {
	font-family:'';
	font-size: 0.85em;
	line-height: 1.3em;
	text-align: left;
	text-indent:0;
	margin:3pt 0;
	letter-spacing:auto;
} /*五级标题*/
h6.sixTitle {
	font-family:'';
	font-size: 0.85em;
	line-height: 1.3em;
	text-align: left;
	text-indent:0;
	margin:3pt 0;
	letter-spacing:auto;
} /*六级标题*/
.bodyContent {
	font-family:'';
	font-size: 0.85em;
	line-height: 1.5em;
	text-align:left;
	text-indent: 2em;
	margin:10pt 0;
	letter-spacing:auto;
} /*正文内容*/
.notNaturalParagraph{
	font-family:'';
	font-size: 0.85em;
	line-height: 1.5em;
	text-align:left;
	text-indent: 2em;
	margin:0;
	letter-spacing:auto;
}/*非自然段落*/
.drop {
         font-size:2em;
         font-weight:bold;
         float:left; 
         color:#000000;
         background-color: green;
}/*首行文字下沉效果*/
.fnoteRight {
	font-family:'';
	font-size: 0.8em;
	line-height: 1.5em;
	text-align:right;
	letter-spacing:auto;
} /*右下角说明*/
.bodyReference {
	font-family:'';
	font-size:0.85em;
	text-align:left;
	text-indent:2.0em;
	line-height: 1.5em;
	letter-spacing:auto;
} /*书信称谓*/
.bodyLetter{
	font-family:'';
	font-size:0.75em;
	text-align:left;
	text-indent:2.0em;
	line-height: 1.5em;
	letter-spacing:auto;
	font-style:italic;
}/*书信内容*/
.titleQuot {
	font-family:'';
	font-size: 0.8em;
	line-height: 1.5em;
	text-align:left;
	text-indent: 24px;
	margin:5pt 0;
	letter-spacing:auto;
}/*引文标题*/
.conQuot {
	font-family:'';
	font-size: 0.75em;
	line-height: 1.5em;
	text-align:left;
	text-indent: 48px;
	margin:5pt 0;
	letter-spacing:auto;
}/*引文*/
.bodyPic {
	text-align:center;
	font-size:0%;
} /*正文图表（不含图表注释）*/
.cn-bodyPic {
	text-align:center;
	font-size:80%;
} /*正文图表（含图表注释）*/
.imgDescript {
	font-family:'';
	font-size:0.7em;
	line-height:1.5em;
	text-align:center;
	text-indent:0;
	color:#000000;
	letter-spacing:auto;
} /*图表注释*/
.tableCaption{
	font-family:'';
	font-size:0.85em;
	line-height:1.5em;
	text-align:center;
	text-indent:0;
	color:#000000;
	letter-spacing:auto;
}/*图标表头*/
.borderColor{
	border:2px solid #A9A9A9;
}/*边框样式*/
.bgroundColor{
	background: #D3D3D3
}/*段落底色*/
.signImg {
	text-align:right;
	font-size:0%;
}/*正文右下角签名图片*/
.bodyPoem {
	font-family:'';
	font-size:1.0em;
	text-align:center;
	line-height:1.5em;
	letter-spacing:auto;
} /*诗词标题*/
.conAuthor {
	font-family:'';
	font-size:0.9em;
	text-align:right;
	line-height:1.5em;
	padding-right:4em;
	letter-spacing:auto;
} /*诗词作者*/
.poemText {
	font-family:'';
	font-size:0.8em;
	text-align:center;
	line-height:1.5em;
	letter-spacing:auto;
} /*诗词正文*/
span.super {
	font-size:0.7em;
	vertical-align: super;
} /*数字上标*/
span.sub {
	font-size:0.7em;
	vertical-align: sub;
} /*数字下标*/
.bold {
	font-weight:bold;
}/*加粗*/
.left {
	text-align:left;
	text-indent:0;
}/*左对齐*/
.center {
	text-align:center;
	text-indent:0;
}/*居中对齐*/
.right {
	text-align:right;
	text-indent:0;
}/*右对齐*/
.indentS {
	text-indent:2em;
	margin:5pt 0;
}/*其它缩进24像素*/
.indentT {
	text-indent:3em;
	margin:5pt 0;
}/*其它缩进36像素*/
.indentF {
	text-indent:4em;
	margin:5pt 0;
}/*其它缩进48像素*/
.emphasis {
	text-decoration:underline;
}/*着重强调加下划线*/
.textItalic {
	font-style:italic;
}/*斜体*/
.conLink {
}/*正文中网址*/
.rareFont {
	width:0.8em;
}/*正文中生僻字图片代替*/
.subHead {
	text-align:right;
}/*副标题*/
div.float-left50 {
	width: 50%;
	float: left;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
}/*图片左环绕（图宽占页宽大于等于50%）*/
div.float-left37 {
	width: 37%;
	float: left;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
}/*图片左环绕（图宽占页宽小于50%）*/
div.float-right50 {
	width: 50%;
	float: right;
	margin-left: 0.8em;
	margin-bottom: 0.2em;
	text-align: center;
}/*图片右环绕（图宽占页宽大于等于50%）*/
div.float-right37 {
	width: 37%;
	float: right;
	margin-left: 0.8em;
	margin-bottom: 0.2em;
	text-align: center;
}/*图片右环绕（图宽占页宽小于50%）*/
span.subScript {
	font-size:0.7em;
	vertical-align: super;
}/*跳转注标*/
.noteTitle {
	font-family:'';
	font-size:0.8em;
	line-height:1.5em;
	font-weight:bold;
	text-align:left;
	text-indent:0;
	letter-spacing:auto;
} /*附注*/
.noteContent {
	font-family:'';
	font-size:0.6em;
	line-height:1.5em;
	text-align:left;
	text-indent:2em;
	letter-spacing:auto;
} /*附注说明*/

.small
{
	font-size: 2.0em;
	font-weight:bold;
}

.kaiti1
{
	font-size: 0.85em;
}

.img-a{	
	width:90%;
}
.img-b{
	width:80%;
}
.img-c{	
	width:70%;
}
.img-d{	
	width:60%;
}
.img-e{	
	width:50%;
}
.img-f{	
	width:40%;
}
.img-g{	
	width:30%;
}
.img-h{	
	width:20%;
}
.img-i{       
	width:10%;
}
.img-j{        
	width:5%;
}
.img-n{        
	width:1em;
}
