<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.chinafocus.bookshelf">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity android:name=".ui.activity.BookInitPortraitActivity"
                  android:theme="@style/BookShelfAppCompatNoActionBar"/>

        <activity
            android:name=".ui.activity.BookShelfSplashActivity"
            android:theme="@style/BookShelfThemeSplash"/>

        <activity android:name=".ui.activity.ShelvesActivity"
                  android:theme="@style/BookShelfAppCompatNoActionBar"/>

        <activity
            android:name=".ui.activity.ShelfDetailActivity"
            android:theme="@style/BookShelfAppCompatNoActionBar"/>

        <activity
            android:name=".ui.activity.BookShelfCopyrightActivity"
            android:theme="@style/BookShelfAppCompatNoActionBar"/>

        <activity
            android:name=".ui.activity.BookCategoryDetailActivity"
            android:theme="@style/BookShelfAppCompatNoActionBar"/>

        <activity
            android:name=".ui.activity.BookMetaDataActivity"
            android:theme="@style/BookShelfAppCompatNoActionBar"/>

        <activity android:name=".ui.activity.BookMetaDataActivityYang"
                  android:theme="@style/BookShelfAppCompatNoActionBar"/>

        <activity android:name=".ui.activity.BookMetaDataActivityYangRV"
                  android:theme="@style/BookShelfAppCompatNoActionBar"/>

        <activity
            android:name=".ui.activity.BookContentDetailActivity"
            android:theme="@style/BookShelfAppCompatNoActionBar"/>

    </application>

</manifest>